.booking-embed {
  background-color: var(--primary);
  margin: 20vh;
  margin-top: 5vh;
}

.booking-container {
  background-color: var(--primary);
  padding-bottom: 1px;
}

.booking-heading {
  // font-family: 'Caveat', cursive;
  color: white;
  text-align: center;
  font-size: 3rem;
  @apply py-2;
}

@media only screen and (max-width: 1023px) {
  .booking-embed {
    margin: 0;
  }
}
