.header-logo {
  z-index: 3;
  @apply w-1/5 self-start;
}

.footer-logo {
  height: auto;
  @apply block w-3/4 object-contain;
}

.nav-link {
  align-self: center;
  @apply mx-4 transition duration-300 ease-in-out hover:scale-105 hover:opacity-85;
}

.active-link {
  @apply underline;
}

.twenty-percent {
  width: 20%;
}

.forty-percent {
  width: 40%;
}

.footer-link-container {
  display: flex;
  @apply flex-wrap justify-center;
}

.footer-link {
  @apply mx-4 my-2;
}

.justify-center {
  justify-content: center;
}

.hover-link {
  @apply ease-in-out hover:scale-105 hover:cursor-pointer hover:opacity-85;
}

.nav-bar {
  background-color: #ffffff;
  z-index: 10;
  top: 0;
  // border-radius: 0 0 20px 0;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-width: 1px;
  max-width: 100vw;
  width: 100vw;
  @apply fixed flex justify-between pb-2;
}

.footer {
  background-color: var(--primary);
  color: #fff;

  box-shadow:
    rgba(50, 50, 93, 0.25) 5px 2px 0px -1px,
    rgba(0, 0, 0, 0.3) 3px 1px 0px -1px;
  @apply mt-10 flex justify-center pb-5;
}

.no-mt {
  @apply mt-0;
}

.menu-container {
  @apply flex justify-between self-end;
}

.nav-book-now {
  border-radius: 20px;
  border-width: 1px;
  border-color: #ff7b00;
  background-color: #ff5e00;
  color: #fff;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 48px;
  padding: 0.25rem 0.75rem;
}

@media screen and (max-width: 820px) {
  .header-logo {
    @apply w-1/3;
  }
  .nav-bar {
    flex-direction: column; // displays menu below bar
    overflow: hidden; // hides links when menu closed
    transition: max-height 0.45s ease-out;
  }

  .nav-bar.open {
    max-height: 400px;
  }

  .nav-link {
    display: block;
    align-self: normal;
    @apply mr-0;
  }

  .accordian {
    background-color: #fff;
    max-height: 0; // hides accordian
    transition: max-height 0.55s ease-in-out;
    @apply relative mt-2 text-right;
  }

  .menu-btn-container {
    position: absolute;
    top: -1px;
    right: 10px;
    display: flex;
  }
  .menu-btn {
    align-self: center;
  }

  .accordian.open {
    max-height: 100%;
  }

  .nav-book-now {
    padding: 0.2rem;
    margin-right: -18px;
    @apply text-center;
  }
}

@media screen and (max-width: 600px) {
  .header-logo {
    @apply w-5/12;
  }
}
