.slider {
  margin: auto;
  height: 320px;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slide > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.sl0 {
  transform: translateX(-100%);
}

.sl2 {
  transform: translateX(100%);
}
.sl3 {
  transform: translatex(200%);
}
.sl4 {
  transform: translatex(300%);
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 8px;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    width 0.2s ease-in-out,
    height 0.2s ease-in-out;
}

.dot.active {
  transform: scale(1.5);
}

@media only screen and (max-width: 900px) {
  .slider {
    width: 100%;
  }
  .slide {
    width: 50%;
  }
  .slide > img {
    height: 20rem !important;
    object-fit: cover;
  }
  .sl-1 {
    transform: translateX(-150%);
    visibility: hidden;
  }
  .sl0 {
    transform: translateX(-50%);
  }
  .sl1 {
    transform: translateX(50%);
  }

  .sl2 {
    transform: translateX(150%);
  }
  .sl3 {
    transform: translatex(200%);
  }
  .sl4 {
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .slide {
    width: 100%;
  }
  .sl0 {
    transform: translateX(-100%);
  }
  .sl1 {
    transform: translateX(0);
  }
  .sl2 {
    transform: translateX(100%);
  }
  .sl3 {
    transform: translatex(200%);
  }
  .sl4 {
    transform: translatex(300%);
  }
}
